<div class="scroll-bar">

<br>
<h2 class="colorRed">
  ~~Filmele ce vor aparea in urmatoarele 5 luni :
</h2>

<br><br><br><br>


<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell">Denumire Film</div>
      <div class="divTableCell">Data Film</div>
      <div class="divTableCell">Ora Film</div>
      <div class="divTableCell">Pret bilet</div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell"  title="1h 23 min">  </div>
      <div class="divTableCell"> 45  </div>
      <div class="divTableCell" >   hh  </div>
      <div class="divTableCell" >hjhj</div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell" title="1h 13 min"><a href="/detali">{{usTab[1].denumireFilm}}</a></div>
      <div class="divTableCell" >{{usTab[1].dataFilm}}</div>
      <div class="divTableCell" >{{usTab[1].oraFilm}}</div>
      <div class="divTableCell" >{{usTab[1].pretBilet}}</div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell" title="1h 36 min"><a href="/detali">{{usTab[2].denumireFilm}}</a></div>
      <div class="divTableCell" >{{usTab[2].dataFilm}}</div>
      <div class="divTableCell" >{{usTab[2].oraFilm}}</div>
      <div class="divTableCell" >{{usTab[2].pretBilet}}</div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell" title="1h 15 min"><a href="/detali">{{usTab[3].denumireFilm}}</a></div>
      <div class="divTableCell" >{{usTab[3].dataFilm}}</div>
      <div class="divTableCell">{{usTab[3].oraFilm}}</div>
      <div class="divTableCell">{{usTab[3].pretBilet}}</div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell" title="1h 15 min"><a href="/detali">{{usTab[4].denumireFilm}}</a></div>
      <div class="divTableCell">{{usTab[4].dataFilm}}</div>
      <div class="divTableCell">{{usTab[4].oraFilm}}</div>
      <div class="divTableCell" >{{usTab[4].pretBilet}}</div>
    </div>

  </div>
</div>


  <br><br><br><br><br><br><br>
  <img src="../../../../assets/semantic/themes/default/assets/images/6.jpg" alt="Sala Cinema" style="width:350px;height:300px;margin-left: 80px">
  <img src="../../../../assets/semantic/themes/default/assets/images/7.jpg" alt="Bilet" style="width:300px;height:400px;margin-left: 200px">





</div>
