<div class="container colorRed">
  <br><br><br><br><br><br><br><br>
  <h1 class="margin">
    Welcome admin !
  </h1>
</div>


<!--
    <p-dataTable [value]="users"  selectionMode="single" [(selection)]="selectedUser" [contextMenu]="cm">
      <p-column field="firstName" header="FirstName"  [sortable]="true"></p-column>
      <p-column field="lastName" header="LastName" [sortable]="true"></p-column>
      <p-column field="email" header="email" [sortable]="true"></p-column>
    </p-dataTable>

<p-contextMenu #cm [model]="items"></p-contextMenu>
-->

<br>
<h3 style="margin-left: 360px;">
  Administrator :
</h3>

<br>

<h3 style="margin-left: 360px;">
  Password :
</h3>


<div>
  <form style="margin-left: 500px; margin-top: -115px;">
    <input type="text" placeholder="admin">
  </form>
</div>


<div>
  <form style="margin-left: 500px; margin-top: 55px;">
    <input type="text" placeholder="pass">
  </form>
</div>

<br><br><br>

<button style="margin-left: 650px;">Log In</button>
